DATABASE_URL="mysql://root:password@localhost:3306/mind_heal"
#JWT_SECRET="change-this-to-a-long-random-secret-key"
JWT_SECRET="mind-heal-long-random-secret-key-root-shift-hash-value"
JWT_EXPIRES_IN="7d"
PORT=4000
CLIENT_URL="http://localhost:5175"
